{
	"services": {
		"status": {
			"default": true
		},
		"Pathogenomics Geoservice": {
			"default_geocoder": "google",
			"geocoders": [{
				"name": "google",
				"uri": "https://maps.googleapis.com/maps/api/geocode/json?sensor=false&key=AIzaSyB__xFP8aiY9_J3k2vCKPIucRFfApE0btw"
			}, {
				"name": "opencage",
				"uri": "http://api.opencagedata.com/geocode/v1/json?pretty=1&key=1a9d04b5e924fd52d1f306d924d023a5"
			}],
			"locations_collection": "yellow_rust",
			"samples_collection": "yellow_rust",
			"phenotypes_collection": "yellow_rust",
			"genotypes_collection": "yellow_rust",
			"database": "patho_db"
		},
		"Blast service": {
			"blast_command": "/opt/grassroots-0/grassroots/extras/blast/bin/blastn",
			"blast_formatter": "system",
			"system_formatter_config": {
				"command": "/opt/grassroots-0/grassroots/extras/blast/bin/blast_formatter"
			},
			"working_directory": "/home/billy/blast_working_dir",
			"databases": [{
				"name": "/opt/grassroots-0/grassroots/extras/blast/databases/testdb",
				"description": "test db"
			}]
		}
	},
	"mongodb": {
		"uri": "mongodb://localhost:27017"
	},
	"provider": {
		"name": "Billy's laptop",
		"description": "Billy's laptop running the wheatis instance",
		"uri": "localhost:8080/info"
	},
	"servers": [{
		"server_name": "grassroots 1",
		"server_url": "localhost:18080/grassroots/controller",
		"paired_services": [{
			"local": "Blast service",
			"remote": "Blast service"
		}]
	}]
}
