{
	"services": {
		"blast service": {
			"working_directory": "/tgac/services/wheatis/",
			"databases" : [{
				"name": "/tgac/public/databases/blast/aegilops_tauschii/GCA_000347335.1/Aegilops_tauschii.GCA_000347335.1.26.dna.genome",
				"description": 	"Jia et al Aegilops tauschii AL8/78 DD genome assembly 429,892 sequences; 3,313,764,331 total bases"
			}, {
				"name": "/tgac/public/databases/blast/triticum_aestivum/brenchley_CS42/allCdnaFinalAssemblyAllContigs_vs_TREPalle05_notHits_gt100bp",
				"description": "Brenchley et al Chinese Spring CS42 cDNA assemblies repeat-filtered against TREP 97,481 sequences; 93,340,842 total bases"
			}, {
				"name": "/tgac/public/databases/blast/triticum_aestivum/brenchley_CS42/CS_5xDNA_all",
				"description": "Brenchley et al Chinese Spring CS42 5x Liverpool 454 assembly 25,572,861 sequences; 11,088,752,193 total bases"
			}, {
				"name": "/tgac/public/databases/blast/triticum_aestivum/brenchley_CS42/subassemblies_TEcleaned_Hv80Bd75Sb70Os70_30aa_firstBestHit_assembly_ml40_mi99",
				"description": "Brenchley et al Chinese Spring CS42 orthologous group sub-assemblies 949,279 sequences; 437,512,281 total bases"
			}, {
				"name": "/tgac/public/databases/blast/triticum_aestivum/IWGSC/v2/IWGSCv2.0",
				"description": "Bailey TGAC IWGSC v2 10,234,906 sequences; 10,352,209,564 total bases"
			}, {
				"name": "/tgac/public/databases/blast/triticum_aestivum/IWGSC/v2/Triticum_aestivum.IWGSC2.26.dna.genome",
				"description": "Chapman et al Synthetic W7984 (Triticum turgidum L. subsp. durum var 'Altar 84' + Aegilops tauschii) x T. aestivum Opata M85 262,724 sequences; 6,378,515,436 total bases"
			}, {
				"name": "/tgac/public/databases/blast/triticum_urartu/GCA_000347455.1/Triticum_urartu.GCA_000347455.1.26.dna.genome",
				"description": "Brenchley et al Chinese Spring CS42 cDNA assemblies repeat-filtered against TREP 97,481 sequences; 93,340,842 total bases"
			}]
		}
	},
	"servers": [{
		"server_name": "irods-dev live",
		"server_uri": "http://irods-dev.tgac.ac.uk/wheatis"
	}, {
		"server_name": "irods-dev test",
		"server_uri": "http://irods-dev.tgac.ac.uk:8880/wheatis"
	}]
}
