#
# $Id: default.config,v 1.2 2012/06/08 03:37:23 sbadugu Exp $

# This script is sourced by other scripts, mostly at the begining, but also
# possible later on.

# Now we have valid lsf.conf info
GOT_CONFIG=y

def_LSF_MACHDEP=/usr/local/lsf
def_LSF_INDEP=/usr/local/lsf/mnt
#def_LSF_INDEP=/usr/local/lsf
#def_LSF_MACHDEP='${LSF_INDEP}'
if [ "$LSHOSTTYPE" = "NT" ]; then
    def_LSF_ENVDIR='${LSF_MACHDEP}/etc'
else
    def_LSF_ENVDIR='${LSF_MACHDEP}/etc'
fi
def_LSF_BINDIR='${LSF_MACHDEP}/bin'
def_LSF_SERVERDIR='${LSF_MACHDEP}/etc'
def_LSF_MANDIR='${LSF_INDEP}/man'
def_LSF_LIBDIR='${LSF_MACHDEP}/lib'
def_LSF_INCLUDEDIR='${LSF_INDEP}/include'
def_LSF_CONFDIR='${LSF_INDEP}/conf'
def_LSB_CONFDIR='${LSF_CONFDIR}/lsbatch'
def_LSB_SHAREDIR='${LSF_INDEP}/work'
def_LSF_LOGDIR='UNDEF'
def_LSF_LOG_MASK='LOG_WARNING'
def_LSF_AUTH='UNDEF'
def_LSF_INSMODE='4755'
def_LSB_MAILTO='!U'
def_LSF_STRIP_DOMAIN='UNDEF'
def_LSF_ROOT_REX='n'
def_LSF_MISC='${LSF_INDEP}/misc'
def_XLSF_APPDIR='$LSF_MISC'
def_XLSF_UIDDIR='${LSF_LIBDIR}/uid'
def_LSF_RES_ACCTDIR='UNDEF'
#def_LSF_SERVER_HOSTS='UNDEF'
def_LSF_USE_HOSTEQUIV='UNDEF'
if [ $LSHOSTTYPE = "NT" ]; then 
    def_LSB_MAILPROG='lsmail.exe'
else
    def_LSB_MAILPROG='UNDEF'
fi
def_LSF_LIM_DEBUG='UNDEF'
def_LSF_RES_DEBUG='UNDEF'
def_LSB_DEBUG='UNDEF'
if [ $LSHOSTTYPE = "NT" ]; then 
    def_LSF_LIM_PORT='3879'
    def_LSF_RES_PORT='3878'
    def_LSB_SBD_PORT='3882'
    def_LSB_MBD_PORT='3881'
else
    def_LSF_LIM_PORT='UNDEF'
    def_LSF_RES_PORT='UNDEF'
    def_LSB_SBD_PORT='UNDEF'
    def_LSB_MBD_PORT='UNDEF'
fi

LSF_CLUSTER_NAME_STR="Name of the LSF cluster"
LSF_MANAGER_STR="LSF administrator login name"
LSF_INDEP_STR="Directory in which to install host type independent files. All the host type independent files can be shared by all LSF hosts"
LSF_MACHDEP_STR="Directory in which to install host type dependent files. All the host type dependent files can be shared by hosts with the same host type"
LSF_ENVDIR_STR="Directory where host setup will install the lsf.conf file"
LSF_BINDIR_STR="Directory where user commands will be installed"
LSF_SERVERDIR_STR="Directory where LSF servers will be installed"
LSF_MANDIR_STR="Directory where LSF man pages will be installed"
LSF_LIBDIR_STR="Directory where LSF library will be installed"
LSF_INCLUDEDIR_STR="Directory where LSF header file lsf/lsf.h will be installed"
XLSF_APPDIR_STR="Directory where the window application resource files will be installed"
XLSF_UIDDIR_STR="Directory where the GUI UID files will be installed"
LSF_LOGDIR_STR="Directory where LSF server error messages will be logged"
LSF_LOG_MASK_STR="Syslog level to use by LSF servers"
LSF_CONFDIR_STR="Directory where LSF cluster configuration files will be installed (must be shared)"
LSB_CONFDIR_STR="Directory where LSF Batch configuration files will be installed (must be shared)"
LSB_SHAREDIR_STR="Directory that LSF Batch uses for storing job data (must be shared)"
LSB_MAILTO_STR="Mail address format for mail from lsbatch"
LSF_STRIP_DOMAIN_STR="Domain name to be stripped off the host name"
LSF_ROOT_REX_STR="Do you want to allow root to run jobs"
LSF_AUTH_STR="Authentication mechanism to use"
LSF_RES_ACCTDIR_STR="Directory to store RES accounting log"
LSF_SERVER_HOSTS_STR="One or more Hosts running LIM for client hosts to contact"
LSF_MISC_STR="Installation directory for examples and other misc. files"
LSF_LIM_DEBUG_STR="Run the Load Information Manager (LIM) in non-root mode"
LSF_RES_DEBUG_STR="Run the Remote Execution Server RES in non-root mode"
LSB_DEBUG_STR="Run lsbatch daemons in non-root mode"
LSF_LIM_PORT_STR="Port number to use by the Load Information Manager (LIM)"
LSF_RES_PORT_STR="Port number to use by the Remote Execution Server (RES)"
LSB_MBD_PORT_STR="Port number to use by the master batch daemon (mbatchd)"
LSB_SBD_PORT_STR="Port number to use by the slave batch daemon (sbatchd)"

#LSB_DLOGD_PORT_STR="Port number to use by the dlogd daemon"
#LSB_DLOGD_HOST_STR="Port number to use by the host which runs dlogd daemon"

LSF_LINK_PATH_STR="Path name of the destination of symbolic links"
LSF_WORKING_DIR_STR="Enter the full path to the installation working directory"

# List of all the variables for host type independent parts
MAND_SHARED="LSF_INDEP LSF_CLUSTER_NAME LSF_MANAGER"
CUST_SHARED="LSF_MANDIR LSF_INCLUDEDIR LSF_MISC XLSF_APPDIR LSF_CONFDIR LSB_CONFDIR LSB_SHAREDIR LSF_ROOT_REX"
SHARED="$MAND_SHARED $CUST_SHARED"

# host type-independent vars which may be UNDEF
OPTSHARE="LSF_LOGDIR LSF_LOG_MASK LSB_MAILTO LSF_STRIP_DOMAIN LSF_AUTH LSF_RES_ACCTDIR LSF_SERVER_HOSTS"

# host type-independent variables we don't prompt for
OPTHIDE="LSF_USE_HOSTEQUIV LSF_LIM_DEBUG LSF_RES_DEBUG LSB_DEBUG"

# host type-dependent variables
BINS="LSF_BINDIR LSF_SERVERDIR LSF_LIBDIR XLSF_UIDDIR LSF_ENVDIR"

# Programs that needs to be setuid to root
# LSCOMMANDS="lsrun ch lsgrun lsadmin lsrcp"
# BCOMMANDS="bsub bkill bswitch brestart btop bbot bpeek bmig badmin bcaladd bmod"
# NQSCOMMANDS="qsub qdel"
# SETUIDS="$LSCOMMANDS $BCOMMANDS $NQSCOMMANDS"

# Set default values for all params
set_defaults()
{
    for var in $SHARED $OPTSHARE $OPTHIDE LSF_MACHDEP $BINS 
    do
	eval eval $var='$'"def_$var"
    done
}

#--------------------------------------------------------------------
#
#  update_params old_string new_string params .....
#
#  Update all parameters in params such that all substrings old_string
#  is replaced with new_string
#-----------------------------------------------------------------

update_params()
{
    OLD_PARAM=$1
    NEW_PARAM=$2
# Treat "/local" same as "/local/"
    if [ "$1" != "$2"  -a  "$1"/ != "$2"  -a  "$1" != "$2"/ ]
    then
        shift 2
	eval `(for param in $@ ; do eval echo $param='$'"$param" ; done) \
		| sed -e "s,=$OLD_PARAM,=$NEW_PARAM,;s,//,/,"`
    fi
}
